<header class="heading-page">
    <div class="overlay">
        <div class="content">
            <figure>
                <!-- Logo Image -->
                <img src="images/logo/AngFitness-logo-4.png" alt="">
            </figure>
            <h1>Administrator</h1>
        </div>
    </div>
</header>

<section class="bar-container">
    <div>
        <a class="btn btn-primary" routerLink="addCourse">Add a new course</a>
        <a routerLink="deleteCourses">Delete a courses</a>
    </div>

    <router-outlet>
        
    </router-outlet>
</section>